{% extends "portal/base.html" %}
{% load static %}

{% block title %}Create Warranty Claim{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-header fw-semibold">New Warranty Claim</div>
  <div class="card-body">
    <form method="post" class="row g-3">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <!-- Warranty Information -->
      <div class="col-12">
        <h5 class="border-bottom pb-2">Warranty Information</h5>
      </div>
      <div class="col-md-6">
        {{ form.customer.label_tag }}{{ form.customer }}{{ form.customer.errors }}
      </div>
      <div class="col-md-6">
        {{ form.claim_type.label_tag }}{{ form.claim_type }}{{ form.claim_type.errors }}
      </div>

      <!-- Vehicle Information -->
      <div class="col-12 mt-3">
        <h5 class="border-bottom pb-2">Vehicle Information</h5>
      </div>
      {% for field in form.visible_fields %}
        {% if "vehicle" in field.name|lower %}
          <div class="col-md-6">
            {{ field.label_tag }}{{ field }}{{ field.errors }}
          </div>
        {% endif %}
      {% endfor %}

      <!-- Defect Information -->
      <div class="col-12 mt-3">
        <h5 class="border-bottom pb-2">Defect Information</h5>
      </div>
      {% for field in form.visible_fields %}
        {% if "defect" in field.name|lower %}
          <div class="col-12">
            {{ field.label_tag }}{{ field }}{{ field.errors }}
          </div>
        {% endif %}
      {% endfor %}

      <!-- Submit -->
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Save Claim</button>
        <a href="{% url 'portal:claims' %}" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
